
<button *ngIf="btnAddShow" type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" (click)="add()">
  <!--<i class="material-icons">add</i>--> Add Status
</button>


<mat-tab-group>
  <mat-tab label="Active">
    <h3>
      List of Statuses
    </h3>
    <div class="mat-elevation-z8">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" width="100%">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef [style.display]="'none'"></th>
          <td mat-cell [style.display]="'none'" *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Code</th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="columndelete">
          <th style="width:15%;" mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon (click)="delete(element)">delete</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="columnedit">
          <th style="width:15%;" mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon (click)="edit(element)">edit</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

    </div>
  </mat-tab>
</mat-tab-group>

