<div class="card">
  <div class="card-body">
    <h3>Add Category Entry</h3>
    <hr />
    <form [formGroup]="angForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Code" name="code" formControlName="code" #code value="">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Description" value="" name="description" formControlName="description" #description>
        </mat-form-field>
      </div>

      <mat-checkbox class="example-margin" [(ngModel)]="myModel" [ngModelOptions]="{standalone: true}">
        <label>Common Category </label>
      </mat-checkbox>


      <div class="btn-toolbar">
        <button [disabled]="loading" class="btn btn-primary">Add</button>
        <button (click)="cancel()" class="btn btn-primary">Cancel</button>
      </div>
    </form>
  </div>
</div>
