<!-- <h2>Expense Details By Category</h2>
<div class="row my-flex-card" style="margin-top: 25px;" >
    <div class="col-lg-3 col-sm-6" *ngFor="let item of data"style="width: 20rem;height: 15rem;">
        <div class="card text-white bg-primary"  >
            <div class="card-header" style="margin-left:4px">Category Title</div>
            <div class="card-body">
              <h5 class="card-title" style="margin-left:4px">{{item.category}}</h5>
              <p class="card-text" style="margin-left:4px">Total Amount Spent: {{item.amount}}.</p>
            </div>
          </div>
    </div>
</div> -->

<h2>Total Amount Spent: {{ totalAmoutnSpent }}</h2>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" width="100%">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="amountDue">
      <th mat-header-cell *matHeaderCellDef> Due Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.amountDue}} </td>
    </ng-container>

    <ng-container matColumnDef="returned">
        <th mat-header-cell *matHeaderCellDef> Amount Returned </th>
        <td mat-cell *matCellDef="let element"> {{element.returned}} </td>
      </ng-container>

      <ng-container matColumnDef="remaining">
          <th mat-header-cell *matHeaderCellDef> Amount Remaining </th>
          <td mat-cell *matCellDef="let element"> {{element.remaining}} </td>
        </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<h2>Expense Details By Category (Bar Chart)</h2>
<div>
  <canvas id="canvas">{{chart}}</canvas>
</div>

<h2>Expense Details By User Spent (Bar Chart)</h2>
<div>
  <canvas id="canvas1">{{spentByChart}}</canvas>
</div>