<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <h3>Edit Expense Entry</h3>

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input matInput formControlName="amount" [(ngModel)]="expenseList.amount">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Date Spent" formControlName="dateSpent" name="dateSpent" #datespent [(ngModel)]="expenseList.dateSpent">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Purpose" name="purpose" formControlName="purpose" #purpose [(ngModel)]="expenseList.purpose">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-select name="category" formControlName="category" #category [(ngModel)]="expenseList.category">
            <mat-option *ngFor="let category of Categories" [value]="category.code">{{category.code}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="btn-toolbar">
        <button mat-button (click)="updateExpense()" cdkFocusInitial>Update</button>
        <button mat-button (click)="cancelEditExpense()">Cancel</button>
      </div>
    </form>
  </div>
</div>
