<!--<p> Page with records count <b>{{expensesCount}}</b> is loaded in milliseconds: <b>{{diff}}</b></p>-->
<h2>Expense Enteries</h2>

<!--<button *ngIf="btnAddShow" type="button" class="btn btn-danger btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" (click)="openBulkDeleteDialog()">
  <i class="material-icons">clear</i>
</button>-->
<table class="table table-hover">
  <thead>
    <tr>
      <td>Amount </td>
      <td>Date Spent</td>
      <td>Purpose</td>
      <td>Category</td>
      <td>Actions</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let expense of expenseList">
      <td>{{ expense.amount }}</td>
      <td>{{ expense.dateSpentString }}</td>
      <td>{{ expense.purpose }}</td>
      <td>{{ expense.category }}</td>

      <!--<td><a [routerLink]="['/edit', expense._id]" class="btn btn-primary">Edit</a></td>
  <td><a [routerLink]="" class="btn btn-danger">Delete</a></td>-->

      <td [hidden]="!btnEditShow">
        <a class="btn btn-primary" data-toggle="modal" (click)="editDialog(expense._id)">
          <i class="material-icons md-6">edit</i>
        </a>
        <a class="btn btn-danger" data-toggle="modal" (click)="deleteDialog(expense._id)">
          <i class="material-icons md-6">delete</i>
        </a>
      </td>
      <td [hidden]="!btnDeleteShow"></td>

      <!--TODO-->
      <!--<td class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons">menu</i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li><a href="#" class="btn btn-primary" data-toggle="modal" (click)="editDialog(expense._id)"><i class="material-icons">edit</i>Edit</a></li>
          <li><a href="#" class="btn btn-danger" data-toggle="modal" (click)="deleteDialog(expense._id)"><i class="material-icons">delete_sweep</i>Delete  </a></li>
        </ul>
      </td>-->


    </tr>
  </tbody>
</table>
<button *ngIf="btnAddShow" type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" (click)="openDialog()">
  <!--<i class="material-icons">add</i>--> Add Expense Entry
</button>
