<h1>Expense Enteries</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Date Spent</th>
      <th>Description</th>
      <th>Category</th>
      <th>Created By</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.dateFormatted }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
      <td>{{ forecast.summary }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
